/**
 * General styles
 */
body {
    font-size: 1rem;

    hr {
        border-color: #dee2e6;
        opacity: 1;
    }

    a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .form-floating input,
    .form-floating textarea {
        border-left: 0;
        border-right: 0;
        border-top: 0;
    }
    .form-floating input:focus,
    .form-floating textarea:focus {
        box-shadow: none;
    }
    .form-floating label {
        color: #6c757d;
    }
}

/**
 * Main navigation styles
 */
#mainNav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
    border-bottom: 1px solid #dee2e6;
    background-color: #fff;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    .navbar-brand {
        font-weight: 800;
    }

    .navbar-toggler {
        font-size: 0.75rem;
        font-weight: 800;
        padding: 0.75rem;
        text-transform: uppercase;
    }

    .navbar-nav > li.nav-item > a.nav-link {
        font-size: 0.75rem;
        font-weight: 800;
        letter-spacing: 0.0625em;
        text-transform: uppercase;
    }
}

@media (min-width: 992px) {
    #mainNav {
        border-bottom: 1px solid transparent;
        background: transparent;

        .navbar-brand {
            color: #fff;
        }
    }
    #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
        color: rgba(255, 255, 255, 0.8);
    }
    #mainNav .navbar-nav > li.nav-item > a.nav-link {
        color: #fff;
    }
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link:hover {
        color: rgba(255, 255, 255, 0.8);
    }

    #mainNav {
        transition: background-color 0.2s;
        /* Force Hardware Acceleration in WebKit */
        transform: translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    #mainNav.is-fixed {
        /* when the user scrolls down, we hide the header right above the viewport */
        position: fixed;
        top: -83px;
        transition: transform 0.2s;
        border-bottom: 1px solid white;
        background-color: rgba(255, 255, 255, 0.9);
    }
    #mainNav.is-fixed .navbar-brand {
        color: #212529;
    }
    #mainNav.is-fixed .navbar-brand:focus, #mainNav.is-fixed .navbar-brand:hover {
        color: #0085A1;
    }
    #mainNav.is-fixed .navbar-nav > li.nav-item > a {
        color: #212529;
    }
    #mainNav.is-fixed .navbar-nav > li.nav-item > a:focus, #mainNav.is-fixed .navbar-nav > li.nav-item > a:hover {
        color: #0085A1;
    }
    #mainNav.is-visible {
        /* if the user changes the scrolling direction, we show the header */
        transform: translate3d(0, 100%, 0);
    }
}

/**
 * Footer styles.
 */
footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

/**
 * Header styles.
 */
header.header {
    position: relative;
    margin-bottom: 3rem;
    padding-top: calc(8rem + 57px);
    padding-bottom: 8rem;
    background: no-repeat center center;
    background-color: #6c757d;
    background-size: cover;
    background-attachment: scroll;
}
header.header:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #212529;
    opacity: 0.5;
}
header.header .page-heading,
header.header .post-heading,
header.header .site-heading {
    color: #fff;
}
header.header .page-heading,
header.header .site-heading {
    text-align: center;
}
header.header .page-heading h1,
header.header .site-heading h1 {
    font-size: 3rem;
}
header.header .page-heading .subheading,
header.header .site-heading .subheading {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.1;
    display: block;
    margin-top: 0.625rem;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
header.header .post-heading h1 {
    font-size: 2.25rem;
}
header.header .post-heading .meta,
header.header .post-heading .subheading {
    line-height: 1.1;
    display: block;
}
header.header .post-heading .subheading {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0.75rem 0 2rem;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
header.header .post-heading .meta {
    font-size: 1.25rem;
    font-weight: 300;
    font-style: italic;
    font-family: "Lora", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
header.header .post-heading .meta a {
    color: #fff;
}
@media (min-width: 992px) {
    header.header {
        padding-top: 12.5rem;
        padding-bottom: 12.5rem;
    }
    header.header .page-heading h1,
    header.header .site-heading h1 {
        font-size: 5rem;
    }
    header.header .post-heading h1 {
        font-size: 3.5rem;
    }
    header.header .post-heading .subheading {
        font-size: 1.875rem;
    }
}

header.header.header-image {
    padding-top: calc(3rem + 57px);
    padding-bottom: 3rem;
}

header.header.header-image .site-heading h1 {
    font-size: 2rem;
}

/**
 * Calendar preview styles.
 */
.calendar-preview {
    h2 {
        margin-top: 0.5rem !important;
    }
}
.calendar-preview > a {
    color: #212529;
}
.calendar-preview > a:focus, .calendar-preview > a:hover {
    text-decoration: none;
    color: #0085A1;
}
.calendar-preview > a > .calendar-title {
    font-size: 1.875rem;
    margin-top: 1.875rem;
    margin-bottom: 0.625rem;
}
.calendar-preview > a > .calendar-subtitle {
    font-weight: 300;
    margin-bottom: 0.625rem;
}
.calendar-preview > .post-meta {
    font-size: 1.125rem;
    font-style: italic;
    margin-top: 0;
    color: #6c757d;
}
.calendar-preview > .post-meta > a {
    text-decoration: none;
}
@media (min-width: 992px) {
    .calendar-preview > a > .calendar-title {
        font-size: 2.25rem;
    }
}



.image-preview {
    h2 {
        margin-top: 0.1rem!important;
        font-size: 1rem!important;
        height: 3rem;
    }
}



/**
 * Image viewer styles.
 */
.image-viewer img {
    width: 100%;
}

/**
 * Calendar viewer styles.
 */
.calendar-viewer img {
    width: 100%;
}

/**
 * Calendar overview styles.
 */
.calendar-overview {
    .calendar-preview {
        p {
            height: 60px;
        }

        img {
            width: 100%;
        }
    }


}